@font-face {
  font-family: 'avenir-next-bold';
  src: url('./fonts/avenir-next-bold.eot');
  src: url('./fonts/avenir-next-bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/avenir-next-bold.woff') format('woff'),
    url('./fonts/avenir-next-bold.ttf') format('truetype'),
    url('./fonts/avenir-next-bold.svg#avenir-next-bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'avenir-next-bold';
}

img {
  width: 100%;
}
